#game {
    display: grid;
    background-color: white;
    height: auto;
    width: fit-content;
    margin-top: 15px;
    grid-gap: 1px;
    border: 8px solid;
    border-color: rgb(194, 191, 191) rgb(102, 101, 101) rgb(80, 79, 79) rgb(163, 161, 161);
    grid-auto-flow: column dense;
    margin: 0 auto;
}

.pieceDisplay {
    display: grid;
    background-color: white;
    grid-gap: 1px;
    border: 8px solid;
    border-color: rgb(194, 191, 191) rgb(102, 101, 101) rgb(80, 79, 79) rgb(163, 161, 161);
    width: fit-content;
    margin: auto;
}

li {
    margin-bottom: 1em;
}

body {
    background-color: #0a0a8f;
}

#gameWrapper {
    margin: auto;
}

#levelDisplay {
    height: 0.75em;
    width: 12em;
    margin: auto;
    text-align: center;
}

#titleWrapper {
    width: 100%;
}

#titleBox {
    max-width: 45%;
    margin: 1em auto 1em auto;
}

#titleBox p {
    position: relative;
    margin-left: 65%;
}

.siteElement {
    font-family: "Press Start 2P";
    border: 8px solid;
    border-color: rgb(194, 191, 191) rgb(102, 101, 101) rgb(80, 79, 79) rgb(163, 161, 161);
    background-color: black;
    color: white;
    padding: 1em;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em 2em;
    justify-content: space-between;
}

h1, h2 {
    text-align: center;
}

#leftWindow {
    width: 30em;
    height: auto;
}

#rightWindow {
    width: 30em;
    height: auto;
}

.gridItem {
    display: block;
    height: 30px;
    width: 30px;
    background-color: black;
}

.displayGridItem {
    display: block;
    background-color: black;
    height: 40px;
    width: 40px;
}

.staticBlock {
    filter: brightness(80%);
}

.emptyBlock {
    opacity: 0;
} 

.redBlock {
    box-sizing: border-box;
    background-color: red;
    border: 4px solid;
    border-color: rgb(233, 114, 114) rgb(163, 1, 1) rgb(131, 2, 2) rgb(228, 9, 9) ;
}

.blueBlock {
    box-sizing: border-box;
    background-color: aqua;
    border: 4px solid;
    border-color: rgb(185, 236, 236) rgb(27, 168, 168) rgb(14, 131, 131) rgb(4, 221, 221);
}

.greenBlock {
    box-sizing: border-box;
    background-color: lightgreen;
    border: 4px solid;
    border-color: rgb(192, 240, 192) rgb(93, 180, 93) rgb(54, 90, 54) rgb(136, 221, 136);
}

.yellowBlock {
    box-sizing: border-box;
    background-color: yellow;
    border: 4px solid;
    border-color: rgb(240, 240, 131) rgb(190, 190, 8) rgb(138, 138, 5) rgb(223, 223, 14);
}

.purpleBlock {
    box-sizing: border-box;
    background-color: purple;
    border: 4px solid;
    border-color: rgb(238, 53, 238) rgb(90, 2, 90) rgb(61, 2, 61) rgb(139, 8, 139);
}

.orangeBlock {
    box-sizing: border-box;
    background-color: orange;
    border: 4px solid;
    border-color: rgb(241, 184, 78) rgb(168, 111, 5) rgb(109, 73, 6) rgb(218, 144, 7);
}

.darkBlueBlock {
    box-sizing: border-box;
    background-color: rgb(63, 63, 216);
    border: 4px solid;
    border-color: rgb(124, 124, 240) rgb(42, 42, 168) rgb(37, 37, 133) rgb(55, 55, 196);
}

.currentShape {
    display: grid;
    width: fit-content;
    height: auto;
    grid-gap: 1px;
}

.displayedNextPiece {
    display: grid;
    width: fit-content;
    height: auto;
    grid-gap: 1px;
}

.displayedStoredPiece {
    display: grid;
    width: fit-content;
    height: auto;
    grid-gap: 1px;
}